.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-options {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    padding: 20px;
    width: 250px; 
}

.login-options:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.admin-option, .user-option {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.admin-option:hover,
.user-option:hover {
    background-color: #f0f0f0;
    cursor: pointer; 
}
